@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2f6cc7;
  background-image: url("pexels-felix-mittermeier-956999.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.form {
  z-index: 1;
  font-family: "Poppins", sans-serif;
 
  width: 370px;
  height: 450px;
  text-align: center;
  position: relative;

  display: Flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-image: url("pexels-faikackmerd-1025469.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.form i {
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 65px;
  margin-bottom: 20px;
}



.form .sign-up {
  display: initial;
  transform: translateX(60%);
  transition: transform ease-in 0.2s;
}
.form .log-form {
  display: initial;
  transform: translateX(50%);
  transition: transform ease-in 0.2s;
  
}

.form .loginForm {
  display: initial;
    transform: translateX(-50%);
  transition: transform ease-in 0.2s;
}

.form .signupForm {
  display: initial;
   transform: translateX(-60%);
  transition: transform ease-in 0.2s;
}



.form .user-input {
  width: 320px;
  height: 35px;
    margin-bottom: 30px;
  outline: none;
  border: 1px solid black;
  background: rgb(255, 255, 255, 0.2);
  padding-left: 10px;
  color: black;
  font-size: 18px;
  border-radius: 5px;
  
}

.form label[for="username"] {
  color: white;

  position: absolute;
  top: 90px;
  left: 10px;
 
}

.form .user-input:focus + label[for="username"],
.form .user-input:not(:placeholder-shown) + label[for="username"]
 {
  color: white;
  text-shadow: 0 0 20px white;
  position: absolute;

  top: 60px;
  left: 10px;
  transition: ease 0.2s all;
}


.form label[for="password"] {
  color: rgb(255, 255, 255);

  position: absolute;
  left: 10px;
  top: 155px;
}

.form .user-input:focus + label[for="password"],
.form .user-input:not(:placeholder-shown) + label[for="password"] {
  transition: ease 0.2s all;
  position: absolute;
  top: 125px;
  color: white;
  text-shadow: 0 0 20px white;
}

.options-01, 
.options-03 {
  display: flex;
  font-size: 13px;
  flex-direction: column;
  color: rgb(255, 255, 255);
  
  margin-bottom: 20px;
}
.remember-me input {
 margin-right: 10px;
 margin-left: 10px;

}
.options-01 a {
  font-size: 14px;
  
}

.btn {
  width: 320px;
  height: 30px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: rgb(22, 89, 233);
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.options-02,
.options-03 {
  margin-top: 10px;
}

.options-02 p, 
.options-03 p {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.options-02 a,
.options-03 a {
  margin-left: 10px;
}


.form label[for="username2"] {
  position: absolute;
  left: 10px; 
  font-size: 16px;
  top: 90px;
  color: rgb(255, 255, 255);
}

.form .user-input:focus + label[for="username2"],
.form .user-input:not(:placeholder-shown) + label[for="username2"] {
  position: absolute;
  top: 60px;
  color: rgb(255, 255, 255);
   text-shadow: 0 0 20px white;
  transition: ease 0.2s all;
}

.form label[for="email"] {
  position: absolute;
  width: 200px;
  left: -35px;
  top: 155px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.form .user-input:focus + label[for="email"],
.form .user-input:not(:placeholder-shown) + label[for="email"] {
top: 125px;
transition: ease 0.2s all;
 text-shadow: 0 0 20px white;
color: rgb(255, 255, 255);

}

.form label[for="password2"] {
  position: absolute;
  left: 10px;
  font-size: 16px;
  top: 220px;
  color: rgb(255, 255, 255);
}

.form .user-input:focus + label[for="password2"],
.form .user-input:not(:placeholder-shown) + label[for="password2"] {
  color: rgb(255, 255, 255);
  top: 190px;
  text-shadow: 0 0 20px white;
  transition: ease 0.2s all;
}







