h1 {
  display: inline-block;
}
h2 {
  display: inline-block;
}
.input-section {
  display: flex;
  justify-content: space-between;
  width: 250px;
  height: 30px;
  position: relative;
}
.input {
  display: flex;
  border: 1px solid gray;
  padding-left: 5px;
  border-radius: 5px;
  font-weight: bold;

}
.enter-button {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  justify-content: center;
  margin: 5px;
  position: absolute;
  bottom: -30px;
  display: none;
}

.enter-button.addbutton {
  display: initial;

}

.enter-button2 {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  justify-content: center;
  margin: 5px;
  position: absolute;
  bottom: -30px;
  right: -60px;
  display: none;
}

.enter-button2.subtractbutton {
  display: initial;
}

  

.option-button {
  display: flex;
  align-items: center;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid gray;
  cursor: pointer;
  justify-content: center;
  margin: 5px;
  
}
.displayOfDate {
  margin-top: 10px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: column;
  
}
