body {
  margin: 0px;
}

.header-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(22, 22, 22);
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 70px;
  padding-left: 20px;
  padding-right: 20px;
}

.aboutme {
  display: flex;
  font-size: 20px;
  font-family: Anton;
  gap: 1px;
  width: 200px;
  justify-content: center;
 flex-shrink: 0;
}

.links {
  display: none;
}
@media (Max-width: 700px) {
  .aboutme {
    width: unset;
    flex-shrink: 0;
    margin-right: 15px;
  }

  
}

@media (max-width: 600px) {
  .links  {

  position: absolute;
  top: 70px;
  width: 110%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(22, 22, 22);
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 1;
  height: 0px;
  transition: height 0.5s ease;
  display: block;
  overflow: hidden;
}
.js-about-me {
  cursor: pointer;

}

.home,
.about,
.service,
.portfolio,
.resume,
.blog,
.contact {
  display: flex;
}

.links.navlinks {
    display: flex;
   height: 260px;

  opacity: 1;
}

.aboutme {
  display: flex;
  font-size: 25px;
  font-family: Anton;
  gap: 1px;
  width: 200px;
  justify-content: center;
 flex-shrink: 0;
}


}



.about-text {
  color: white;
}
.me-text {
color: rgb(255, 217, 0);
}

.navigation-bar-section {
  display: flex;
  gap: 20px;

  justify-content: center;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: gray;
  font-size: uppercase;
  text-transform: uppercase;
  font-size: 14px;
}
a:hover {
  color: white;
}

@media (max-width: 620px) {
  .navigation-bar-section {
    display: none;
  }
  
}

